{% extends "layout.html" %}
{% block title %}Contact Us{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="section hero">
  <div class="container">
    <div class="row">
      <div class="one-half column">
        <h4 class="hero-heading">Contact Us</h4>
        <div class="flex-columns">
          <div class="column">iScreenFix Asheville<br><br>90 Westgate Pkwy Asheville, NC 28806<br>828.367.sFix (7349)<br>iscreenfixavl@iscreenfix.com</div>
          <div class="column">iScreenFix Myrtle Beach<br><br>981F Hackler St Myrtle Beach, SC 29577<br>843.900.4668<br>iscreenfixmb@iscreenfix.com</div>
        </div>
      </div>
      <div class="one-half column phones">
        <img class="phone" src="{{ url_for('static', filename = 'images/iphone.png') }}">
      </div>
    </div>
  </div>
</div>
{% endblock %}